<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to "Menu", articles_path %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->


    <!-- Text link -->


    <!-- Text link -->


    <!-- Notification link-->


    <!-- Profile picture and dropdown -->


    <!-- Button (call-to-action) -->
    <%= link_to "New article", new_article_path %>
  </div>

  <!-- Dropdown appearing on mobile only -->
</div>
